.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-body {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

form input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  border-radius: 4px;
  width: 60%;
}

form button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #282c34;
  color: #FFF;
  border: 2px solid #282c34;
  border-radius: 4px;
}

form button:hover {
  background-color: #FFF;
  border: 2px solid #FFF;
  cursor: pointer;
  color: #282c34;
  border-radius: 4px;
}

.theList {
  list-style: none;
  padding-left: 0;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color .2s ease-out;
}

.theList li:hover {
  background-color: pink;
  cursor: pointer;
}

ul.theList {
  padding: 0;
}


